@charset "UTF-8";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.loaded-content {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 999999;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 15px;
}

.ball {
  position: absolute;
  border-radius: 15px;
  height: 20px;
  width: 20px;
  margin-bottom: -5px;
  background-color: #0088d0;
  -webkit-animation: bouns 1s ease-in-out infinite;
  animation: bouns 1s ease-in-out infinite;
  z-index: 2;
  top: -13px;
  left: 5px;
}

.shadow {
  position: absolute;
  -webkit-animation: bouns-shadow 1s infinite;
  animation: bouns-shadow 1s infinite;
  width: 30px;
  height: 15px;
  border-radius: 15px / 7px;
  background-color: #005AA2;
}

@keyframes bouns {
  20% {
    transform: translate(0,-40px);
  }
  35% {
      transform: translate(0,-45px);
  }
  90% {
      transform: translate(0,-50px);
  }
  95% {
      transform: translate(0,-40px);
  }
}

@keyframes bouns-shadow {
  70% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
      transform: scale(0.4);
      opacity: 0.4;
  }
}
